/*Carousel.jsx*/
/*Carousel.jsx*/
.slider-caption{
    position:relative;
    top:-15vw
}
.carousel-img{
    width:100%;
    height:60vh;
    filter:brightness(0.5);
}
.get-started{
    background-color:blue;
    width:250px;
    height:50px;
    margin: 1vw;
}
/*NewList.jsx*/
/*NewList.jsx*/
.NewList{
    margin-top:2vw
}
.bs{
    border-top-left-radius:5vw !important ;
    border-bottom-right-radius:5vw !important ;
}
.cp{
    border-bottom-left-radius:9vw !important ;
    border-top-right-radius:9vw !important ;  
}
.hoverable{
    margin-top: 1vw !important;
    transition: all ease-in-out 0.25s;
}
.hoverable:hover{
    cursor: pointer;
}
/*Recommended.jsx*/
/*Recommended.jsx*/
.Recommended{
    margin:5vw
}
.Latest{
    background-image:url('https://media.istockphoto.com/photos/the-city-of-london-skyline-at-night-united-kingdom-picture-id1312550959?b=1&k=20&m=1312550959&s=170667a&w=0&h=RR30MGnFgyX2LnmvrffOsiaXkhB-oEuMkvtqu4JyVI0=');
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    height:60vh;
    margin-top:2vw;
    filter:brightness(0.9)
}
.latest-child{
    color:white;
    position:relative;
    top:30%;
}
.learnMore{
    margin:2vw;
    width:25vw;
    position:relative;
    left:30%;
}