/*layout.jsx*/
.logobrand{
    font-family:algerian;
    font-size:2rem;
}
.nav{
    position:relative;
    left:40vw
}
.nav-link{
    padding-left:1vw
}
.link{
    transition: all 0.5s ease 1s;
    text-Decoration:none;
    font-Family:georgia
}
.link:hover{
    text-decoration: underline;
    font-Family:algerian
}
/*Error.jsx*/
.Error-404{
    position:relative;
    top:30%
}

