/*layout.jsx*/
.logobrand{
    font-family:algerian;
    font-size:2rem;
}
.nav{
    position:relative;
    left:40vw
}
.nav-link{
    padding-left:1vw
}
.link{
    transition: all 0.5s ease 1s;
    text-Decoration:none;
    font-Family:georgia
}
.link:hover{
    text-decoration: underline;
    font-Family:algerian
}
/*Blogs.jsx*/
.blog-img{
    border-top-left-radius:5vw !important ;
    border-bottom-right-radius:5vw !important ;
}
.hoverable{
    margin-top: 1vw !important;
    transition: all ease-in-out 0.25s;
}
.hoverable:hover{
    transform: scale(1.1);
    cursor: pointer;
}
/*Error.jsx*/
.Error-404{
    position:relative;
    top:30%
}

